<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nouveau Coureur</title>
</head>
<body>
<table border="1">
  <th>ID</th>
  <th>MATRICULE</th>
  <th>NOM</th>
  <th>PRENOM</th>
  <th>DATE NAISSANCE</th>
  <th>NATIONALITE</th>
  <th>ID VILLE</th>
  <tr>
    <td th:text="${nouvCoureur.idcoureur}"/>
    <td th:text="${nouvCoureur.matricule}"/>
    <td th:text="${nouvCoureur.nom}"/>
    <td th:text="${nouvCoureur.prenom}"/>
    <td th:text="${nouvCoureur.datenaiss}"/>
    <td th:text="${nouvCoureur.nationalite}"/>
    <td th:text="${nouvCoureur.ville}"/>
  </tr>
</table>

<p style=color:#32CD32;>L'élément ci dessus à été ajouté</p>
<a href ="/">retour</a>
</body>
</html>