<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Infos Ville</title>
</head>
<body>
<table border="1">
    <th>NOM</th>
    <th>LATITUDE</th>
    <th>LONGITUDE</th>
    <th>PAYS</th>
    <tr>
        <td th:text="${majVille.nom}"/>
        <td th:text="${majVille.latitude}"/>
        <td th:text="${majVille.longitude}"/>
        <td th:text="${majVille.pays}"/>
    </tr>
</table>
<a href ="/">retour</a>
</body>
</html>